---
import MainLayout from '../layouts/MainLayout.astro';
import { getAllProjects } from '../lib/api';

const projects = await getAllProjects();
console.log(projects);
---

<MainLayout title="Home">
	<h1>Astro</h1>
</MainLayout>
